.waterfall-container{
    display: flex;
    justify-content: space-between;
}
.waterfull-column{
    flex:1;
    margin:0 10px;
    display: flex;
    flex-direction: column;
}

.waterfall-item{
    background-color: aqua;
    padding:10px;
    margin-bottom: 10px;
}